<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <title>Genres</title>
</head>
<body>
<section layout:fragment="header">
  <h1>Genres</h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Genres</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Lists</h3>
      <div class="box-tools pull-right">
        <a href="/personne/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
        <br clear="all" />
      </div>
    </div>
    <div class="box-body no-padding">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Nom & Prenom</th>
          <th>DateNaissance</th>
          <th>Type Personne</th>
          <th>Added Date</th>
          <th>Nationalite</th>
          <th>Action</th>
        </tr>
        <tr th:each="row : ${listPersonnes}">

          <td>
            <a th:href="@{/personne/details/{id}(id=${row.id})}">
              <i class="fa fa-info-circle"></i>
              <span th:text="${row.id}"></span>
            </a>
          </td>
          <td th:text="${row.nom} +' ' + ${row.prenom}"></td>
          <td th:text="${row.dateNaissance}"></td>
          <td th:text="${row.typePersonne}"></td>
          <td th:text="${row.addedDate}"></td>
          <td th:text="${row.nationalite}"></td>
          <td>
            <a th:href="@{/personne/edit/{id}(id=${row.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/personne/delete/{id}(id=${row.id})}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="/personne/1">First</a></li>
        <li th:each="p : ${#numbers.sequence(1, endIndex/beginIndex)}" th:class="${p == currentIndex} ? 'active' : ''">
          <a th:href="${'/personne/' + p}" th:text="${p}"></a>
        </li>
        <li><a th:href="${'/personne/' + endIndex}">Last</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
