
    <!-- home content -->








    <!-- product cards -->
    <div class="container" id="product-cards">
      <h1 class="text-center">Films</h1>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-3 py-3 py-md-0" *ngFor="let film of films">
            <div class="card">
                <img [src]="film.media?.image || 'placeholder.jpg'" alt="">
                <div class="card-body">
                    <h3 class="text-center">{{ film.titre }}</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet.</p>
                    <div class="film-details">
                        <div class="film-time">
                            {{ film.genre.libelle }}<br>
                           
                        </div>
                        <button class="btn btn-primary btn-details" routerLink="/details">Details</button>
                    </div>
                    <div class="star text-center">
                        <i class="fa-solid fa-star" (click)="rateProduct(1)"></i>
                        <i class="fa-solid fa-star" (click)="rateProduct(2)"></i>
                        <i class="fa-solid fa-star" (click)="rateProduct(3)"></i>
                        <i class="fa-solid fa-star" (click)="rateProduct(4)"></i>
                        <i class="fa-solid fa-star" (click)="rateProduct(5)"></i>
                    </div>
                    <div class="product-rating">
                        Rating: {{ productRating }}
                    </div>
                </div>
            </div>
        </div>
        

          
        </div>
    </div>
  
  